<div class="container"><br><br><br>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-5">助成金のシミュレーション</h3>
      <br>
      <p>このサイトでは特定不妊治療にかかった実費について、いくら助成金を受給できるかを簡単に診断できます。</p>
      <p>診断を開始するには以下より特定不妊治療を開始した年齢を選択してお進み下さい。</p>
      <br><br>
      <div class="simulator-button">
        <%= link_to simulators_under40_path do %>
        <button type="button" class="btn btn-outline-primary">40歳未満</button>
        <% end %>
        <%= link_to simulators_under43_path do %>
        <button type="button" class="btn btn-outline-primary">43歳未満</button>
        <% end %>
        <%= link_to simulators_result_nomatch_path do %>
        <button type="button" class="btn btn-outline-primary">43歳以上</button>
        <% end %>
      </div><br>
        <%= link_to '戻る', root_path %>
    </div>
  </div>
</div>
