<div class="container"><br><br><br>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2>★助成金の説明</h2><br><br>
      <div class="row">
        <div class="col-md-6" "col-sm-12">
          <h3>助成金制度の概要</h3><br>
          <img src="/joseikin1.png" style="width: 100%; max-width: #{image.width}px")>
        </div><br>

        <div class="col-md-6" "col-sm-12">
          <h3>助成金の適用条件</h3><br>
          <img src="/joseikin2.png" style="width: 100%; max-width: #{image.width}px")>
        </div><br>

        <div class="col-md-6" "col-sm-12">
          <h3>助成金の具体的パターン</h3><br>
          <img src="/joseikin3.png" style="width: 100%; max-width: #{image.width}px")>
        </div><br>

        <div class="col-md-6" "col-sm-12">
          <h3>所得制限の詳細</h3><br>
          <img src="/joseikin4.png" style="width: 100%; max-width: #{image.width}px")>
        </div>
      </div><br><br>
      <%= link_to '戻る', :back %>
    </div>
  </div>
</div>
