<div class="container"><br><br><br>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-5">★診断結果</h3><br>
      <h3>あなたは<span style="color:#ff0000;">助成対象外</span>です。</h3><br>
      <%= link_to '戻る', :back %>
    </div>
  </div>
</div>
