<h1>診断結果</h1>
<p>あなたが受けられる助成額は<%= @result %>円です。</p>

<% if @actual_cost > 0 %>
  <p>あなたの実質的な負担額は<%= @actual_cost %>円です。</p>
<% else %>
  <p>あなたの実質の負担額はありません。</p>
<% end %>

<p>今回助成金を申請した場合、今後あなたが42歳までに受けられる助成回数は残り<%= @remain %>回です。</p>

<%= link_to 'メールで送る', 'simulators_send_mail_path' %>
