<h1>診断結果</h1>
<p>あなたが受けられる助成額は<%= @result %>円です。</p>

<% if @actual_cost > 0 %>
  <p>あなたの実質的な負担額は<%= @actual_cost %>円です。</p>
<% else %>
  <p>あなたの実質の負担額はありません。</p>
<% end %>

<p>今回、助成申請後のあなたが42歳までに申請可能な助成回数は残り<%= @remain %>回です。</p>
