<% if @resource.try(:unconfirmed_email?) %>
  <p>本メールは、メールアドレスを変更された方にお送りしています。<%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>本メールは、メールアドレスを変更された方にお送りしています。<%= @resource.email %>.</p>
<% end %>
