<!-- <p>Hello <%= @resource.email %>!</p> -->

<p>本メールは、パスワード再設定を希望された方にお送りしています。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>万が一本メールに覚えがない方は無視してください。</p>
<p>上記リンクにて新しいパスワードを再設定しないかぎり、パスワードは変更されません。</p>
